# Data Sources

In [2]:
import numpy as np
import pandas as pd
import plotly.graph_objs as go

In [3]:
# Data source
from pandas_datareader import data,wb

In [4]:
# convert date in the right format
from datetime import date

In [5]:
startdate = pd.to_datetime('2018-07-15')
enddate = pd.to_datetime(date.today())

In [6]:
startdate

Timestamp('2018-07-15 00:00:00')

In [7]:
enddate

Timestamp('2020-10-10 00:00:00')

### Yahoo Finance

In [9]:
data.DataReader('SPY', 'yahoo', startdate, enddate)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2018-07-16,279.799988,278.839996,279.640015,279.339996,48201000.0,267.490143
2018-07-17,280.910004,278.410004,278.470001,280.470001,52315500.0,268.572174
2018-07-18,281.179993,280.059998,280.559998,281.059998,44593500.0,269.137207
2018-07-19,280.739990,279.459991,280.309998,280.000000,61412100.0,268.122101
2018-07-20,280.480011,279.500000,279.769989,279.679993,82337700.0,267.815704
...,...,...,...,...,...,...
2020-10-05,339.959991,336.010010,336.059998,339.760010,45713100.0,339.760010
2020-10-06,342.170013,334.380005,339.910004,334.929993,90128900.0,334.929993
2020-10-07,341.630005,338.089996,338.119995,340.760010,56999600.0,340.760010
2020-10-08,343.850006,341.859985,342.850006,343.779999,45242500.0,343.779999
2020-10-09,347.350006,344.890015,345.559998,346.850006,59452800.0,346.850006

### Google Finance

In [16]:
data.DataReader('^DJI', 'stooq', startdate, enddate)

                Open      High       Low     Close     Volume
Date
2020-10-06  28214.24  28354.48  27728.03  27772.76  409642893
2020-10-05  27825.42  28162.64  27825.42  28148.64  363078980
2020-10-02  27536.39  27861.43  27382.94  27682.81  450112410
2020-10-01  27940.63  28041.46  27669.26  27816.90  432108133
2020-09-30  27514.64  28026.33  27511.06  27781.70  493872515
...              ...       ...       ...       ...        ...
2018-07-20  25041.14  25124.10  24986.35  25058.12  274084814
2018-07-19  25139.15  25154.17  25052.62  25064.50  285749714
2018-07-18  25133.79  25215.32  25101.12  25199.29  252926303
2018-07-17  25033.92  25155.39  24989.61  25119.89  250371741
2018-07-16  25025.58  25072.41  24979.64  25064.36  231261164

[562 rows x 5 columns]

### AlphaVantage API

In [19]:
# forex data
# GBP to USD
# API key: 35HXTHWTLKW8TWAN
data.DataReader('BTC/USD', 'av-forex', startdate, enddate, api_key='35HXTHWTLKW8TWAN')

                                 BTC/USD
From_Currency Code                   BTC
From_Currency Name               Bitcoin
To_Currency Code                     USD
To_Currency Name    United States Dollar
Exchange Rate             10590.73000000
Last Refreshed       2020-10-07 00:59:01
Time Zone                            UTC
Bid Price                 10590.73000000
Ask Price                 10590.74000000